h2{
    color: #c1e2b3;}
.go{
    font-size: 30px;
    color: #5cb85c;
}

.sidebar-left{
    width:40%;
    float: left;
}




.posts-wrapper{
    width:58%;
    float:right;
}

.new-post{
    width: 100%;
    padding:20px 20px;
    background-color: #faf2cc;
    margin-bottom:20px;
}
.new-post #text{
    width:100%;
    min-height: 100px;
    padding:10px;
}

.post{
    width: 100%;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 10px;
}