

body{
    background-color: #ededed;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom:4px solid #d43f3a;
    z-index:10;
}

.tsk{
    margin-top: 131px;
}

.btn{
    margin-bottom: 20px;
}

.task-text{
    width: 400px;
    height: 40px;
    padding: 5px;
    resize:none;
}

.task{
    position:relative;
    padding: 15px 25px 10px;
    margin-bottom:30px;
    border-radius:10px;
    border:3px solid #8bc34a;
    background-color: #fff;
}

.task-date{
    position: absolute;
    top: -15px;
    left: 50px;
    padding:0px 10px;
    font-size: 17px;
    background-color: #ffeb3b;
    border-radius: 10px;
}
.task-time{
    position: absolute;
    top:-15px;
    right: 70px;
    padding: 2px 8px;
    background-color: #8bc34a;
    border-radius: 10px;
}

.btn-task{
    display: block;
    position: absolute;
    color: #8bc34a;
    font-family: FontAwesome;
    font-size: 18px;
    top:0px;
}

.btn-del{
    right:4px;
}

.btn-task:hover,.btn-task:focus {
    color: #d43f3a;
    text-decoration: none;
}

.btn-edit{
    left: 4px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #d43f3a;
    z-index: 10;
}

